/* 
    Footer Grid Style
*/

.main_content-footer {
    display: flex;
    flex-direction: column;
}

.main_content-footer-top {
    padding: 100px ;
    text-align: center;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}

.main_content-footer-top h2 {
    font-size: 32px;
    font-weight: 100;
}

.main_content-footer-top p {
    font-size: 16px;
    color: var(--sixty-color);
    font-family: var(--font-family-third);
    line-height: 28px;
    padding: 0px 130px;
}

.main_content-footer-top .download-wrapper {
    margin-top: 40px;
    display: flex;
    column-gap: 15px;
    justify-content: center;
}

/* Footer Bottom Style */

.main_content-footer-bottom {
    display: flex;
    column-gap: 30px;
    padding: 0px 100px;
}

.main_content-footer-bottom :first-child(div) {
    display: flex;
    flex:1.5;
}

.Footer_link-wrapper {
    display: flex;
    flex-direction: column;
}

.main_content-footer-bottom p {
    font-size: 16px;
}

